name: Build and push docker image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install java with correct version
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build JAR
        run: mvn -B clean package

      - name: Build dockerimage with buildpacks (No dockerfile)
        run: mvn spring-boot:build-image "-Dspring-boot.build-image.imageName=${{ secrets.DOCKERHUB_USERNAME }}/ratelimiter:latest"

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/ratelimiter:latest
      
  
